# Node modules
node_modules/

# Environment variables
.env
.env.local
.env.development
.env.production

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build / dist folders
dist/
build/

# Uploads / temporary files
uploads/
temp/
tmp/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Cache
.cache/
npm-cache/

# Coverage reports
coverage/

# MongoDB local data
data/